.App {
  box-sizing: border-box;
}

.log-in, .sign-up{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}

.log-in > h2, .sign-up > h2{
    margin: 0;
    padding: 10px;
    background-color: #009688;
    color: white;
}

.log-in > p, .sign-up > p {
  color: red;
  text-align: center;
}

.log-in-fields, .sign-up-fields{
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 20px; 
}

.log-in-fields > input, .sign-up-fields > input{
  padding: 10px; 
  margin-bottom: 15px;
  margin-top: 8px;
  font-size: 1.1em;
}


.log-in-btns > input, .sign-up-btns > input{
  padding: 10px;
  background-color: #009688;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 30%;
  margin-right: 10px; 
}

.disabled{
  background-color: grey;
}

.product-page{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 10px;
}

.browse-products{
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  max-width: 75%;

}

.browse-product-body{
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 30%;
  border: 1px solid #009688;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #E0F2F1;
}

button:focus{
  outline: none;
}

.product-card > button{
  padding: 10px;
  border-radius: 20px;
  width: 40%;
  background-color: #009688;
  color: white;
  margin: auto auto 0 auto;
  font-weight: bold;
}

.product-card > button:hover{
  background-color: #F57C00;
}

.product-image{
  min-width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-image > img {
  width: 100%;
  border-radius: 20px;
}

.product-detail{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-detail > h3{
  padding: 20px 10px;
  margin: 0;
  text-align: left;
}

.product-detail > p{
  margin: 0px auto 0px;
  padding: 0 10px;
  font-weight: bold; 
}

.cart{
  background-color: #F5F5F5;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.cart > button {
  background-color: #FFA000;
  color: white;
  font-weight: bold;
  height: 50px;
  min-width: 180px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 10px;
}

.cart-items{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 55%;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: white;
}

.cart-item > button {
  max-width: 30%;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.product-list-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-list-item > p{
  padding: 10px 30px;
  margin: 0;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-left: 35px; 
}

.counter > button{
  width: 35% ;
  height: 35%;
}

.order-summary{
  margin: auto;
  max-width: 60%;
  min-width: 300px;
  background-color: #EEEEEE;
  padding: 50px;
}

.order-summary-body{
}

.order-summary-body .cart-item{
  display: flex;
  justify-content: space-around;
}

.order-summary-body .cart-item .product-list-item{
  max-width: 50%; 
  text-align: center;
  font-size: 1.1em;
}

.order-summary-body .cart-item > p{
  margin-bottom: 30px;
}

.total-amount{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  max-width: 30%;
  font-size: 1.5em;
  background-color: #FF9800;
  font-weight: bold;
}

.total-amount > p{
  font-size: 1.2em;
}

/*
----------------------------------------
MEDIA QUERIES
-----------------------------------------
*/

@media (max-width: 767px){

  .log-in, .sign-up{
    max-width: 100%;
  }
  
  .browse-product-body {
    justify-content: space-evenly;;
  }

  .product-card{
    min-width: 70%;
  }

  .product-page{
  }

  .order-summary{
    max-width: 95%;
  }
  
}

@media (min-width: 768px){
  .log-in, .sign-up{
    max-width: 750px;
  }
}
